@tailwind base;
@tailwind components;
@tailwind utilities;

/* tus estilos globales extra van aquí /
body {
font-family: sans-serif;
background-color: #EAF6FA; / fondo pastel azul clarito */
margin: 0;
padding: 0;
} Modificar éste

